@import '@styles/color.scss';

.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(270deg, $purpleLight 0%, $authBlueLight2 100%);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270deg, $purpleMediumLight 0%, $contentDarkTheme 100%);

    .HeaderLogo {
      display: flex;
      align-items: center;
      margin: 10px;

      .Logo {
        background: url('../../assets/icon.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
      }

      h1 {
        margin: 0 10px;
        color: $lightColor;
        font-size: calc(24px + 5 * (100vw / 762));
      }
    }

    button {
      margin: 0 15px 0 0;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.darkTheme {
  background: linear-gradient(270deg, $purpleDark 0%, $blueDarkTheme2 100%);
}
