@import '../../shared/styles/color.scss';

.Content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0 10px;
  margin-top: 40px;

  & > div {
    width: 100%;
    max-width: 762px;
    padding: 0 20px;
  }

  .ContentMain {
    text-align: center;
    background: $lightAuthForm;
    box-shadow: 2px 2px 2px $shadowColor;
    padding: 15px;
    border-radius: 5px;
  }
}

.darkTheme {
  .ContentMain {
    background: $contentDarkTheme;

    h3, label {
      color: $lightColor;
    }
  }
}

@media (max-height: 830px) {
  .Content {
    margin-top: 10px;
  }
}
