.Content {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #ab2b95 0%, #59bfef 100%);

  & > div {
    width: 100%;
    max-width: 762px;
    padding: 0 20px;
  }

  h1 {
    color: #fff;
    text-align: center;
  }

  .ContentMain {
    text-align: center;
    background: #eee;
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .5);
    padding: 15px;
    border-radius: 5px;
  }
}