@import '@styles/color.scss';

.Calendar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px 0 10px;
  background: linear-gradient(270deg, $authBlueLight1 0%, $authBlueLight3 100%);

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    border-radius: 5px;
  }

  .Month {
    span {
      font-size: 30px;
      cursor: pointer;
    }
  }

  .DateItems {
    height: 110px;
  }
}

.darkTheme {
  background: $blueDarkTheme;

  h3 {
    color: $lightColor;
  }
}

@media (max-width: 500px) {
  .Calendar {
    .DateItems {
      height: 91px;
    }
  }
}
