.SignUp {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #91f787 0%, #00c71d 100%);

  & > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }

  h1 {
    color: #fff;
    text-align: center;
  }

  .SignUpForm {
    background: #eee;
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .5);
    padding: 15px;
    border-radius: 5px;

    .SignUpFormBtns {
      text-align: center;
    }
  }
}