.Todos {
  width: 100%;
  height: 100%;
  max-height: 500px;
  background: linear-gradient(270deg, #cef2fa 0%, #bee8fb 100%);
  overflow-y: hidden;
  
  & > div {
    padding: 10px 0 10px 10px;
    border-radius: 5px;
  }

  .TodosMain {
    width: 100%;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
  }
}

@media (max-height: 830px) {
  .Todos {
    max-height: 330px;
  }
}
