@import '@styles/color.scss';

.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, $authBlueLight1 0%, $authBlueLight2 100%);

  & > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }

  h1 {
    color: $lightColor;
    text-align: center;
  }

  .AuthForm {
    background: $lightAuthForm;
    box-shadow: 2px 2px 2px $shadowColor;
    padding: 15px;
    border-radius: 5px;

    .AuthFormBtns {
      text-align: center;
    }
  }
}

.darkTheme {
  background: linear-gradient(290deg, $black 0%, $orangeDarkTheme 100%);

  .AuthForm {
    background: $orangeGreyDarkTheme;
  }
}
